/.metadata/
timeConverter/.settings/org.eclipse.core.resources.prefs
timeConverter/.project
timeConverter/.classpath
shapes/src/shapes/Shape.java
shapes/.settings/org.eclipse.jdt.core.prefs
binaryConverter/.classpath
binaryConverter/.project
binaryConverter/.classpath
binaryConverter/.classpath
binaryConverter/.project
binaryConverter/.settings/org.eclipse.core.resources.prefs
binaryConverter/.settings/org.eclipse.jdt.core.prefs
binaryConverter/src/binaryConverter/Converter.java
bowlingGame/.classpath
bowlingGame/.project
bowlingGame/.settings/org.eclipse.core.resources.prefs
bowlingGame/.settings/org.eclipse.jdt.core.prefs
bowlingGame/src/bowlingGame/Bowling.java
HelloWorld/.classpath
HelloWorld/.project
HelloWorld/.settings/org.eclipse.core.resources.prefs
HelloWorld/.settings/org.eclipse.jdt.core.prefs
HelloWorld/src/HelloWorld.java
loanCalculator/.classpath
loanCalculator/.project
loanCalculator/.settings/org.eclipse.core.resources.prefs
loanCalculator/.settings/org.eclipse.jdt.core.prefs
loanCalculator/src/loanCalculator/Program.java
reverseAString/.classpath
reverseAString/.project
reverseAString/.settings/org.eclipse.core.resources.prefs
reverseAString/.settings/org.eclipse.jdt.core.prefs
reverseAString/src/reverseAString/Program.java
shapes/.classpath
shapes/.project
shapes/.settings/org.eclipse.core.resources.prefs
shapes/.settings/org.eclipse.jdt.core.prefs
shapes/src/shapes/Shape.java
timeConverter/.classpath
timeConverter/.project
timeConverter/.settings/org.eclipse.core.resources.prefs
timeConverter/.settings/org.eclipse.jdt.core.prefs
timeConverter/src/timeConverter/Program.java
